nav.navbar.bg-dark
    h1
        a.ham-icon-link
            i#ham-icon(class="fas fa-bars")
        a(href='/')
            i.fas.fa-code
            |  DevConnector
    ul.main-nav__links
        li
            a(href='/profiles') Developers

        - if(user)
            li
                a(href='/posts') Posts
            li
                | |
                a(href='/dashboard' title='Dashboard')
                    i.fas.fa-user
                    span.hide-sm Dashboard
            li
                a#logout(href='#' title='Logout')
                    i.fas.fa-sign-out-alt
                    span#logouttext.hide-sm Logout
        - else
            li
                a(href='/register') Register
            li
                a(href='/login') Login

nav.side-nav
    ul.side-nav__links
        - if(user)
            li.side-nav__link(id='avatar')
                img.avatar(src=`/img/avatars/${user.avatar}` alt=`${user.avatar}`)
        li.side-nav__link
            a(href='/profiles') Developers

        - if(user)
            li.side-nav__link
                a(href='/posts') Posts
            li.side-nav__link
                |
                a(href='/dashboard' title='Dashboard')
                    span Dashboard
                    | 
                    i.fas.fa-user
            li.side-nav__link
                a#logout(href="#" title='Logout')
                    span#logouttext Logout
                    | 
                    i.fas.fa-sign-out-alt
        - else
            li.side-nav__link
                a(href='/register') Register
            li.side-nav__link
                a(href='/login') Login

