extends base

block content

    section.container
        h1.large.text-primary Developers
        p.lead
            i.fab.fa-connectdevelop
            |  Browse and connect with developers
        .profiles
            .profile.bg-light
                img.round-img(src='https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200' alt='')
                div
                    h2 John Doe
                    p Developer at Microsoft
                    p Seattle, WA
                    a.btn.btn-primary(href='profile.html') View Profile
                ul
                    li.text-primary
                        i.fas.fa-check
                        |  HTML
                    li.text-primary
                        i.fas.fa-check
                        |  CSS
                    li.text-primary
                        i.fas.fa-check
                        |  JavaScript
                    li.text-primary
                        i.fas.fa-check
                        |  Python
                    li.text-primary
                        i.fas.fa-check
                        |  C#
            .profile.bg-light
                img.round-img(src='https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200' alt='')
                div
                    h2 John Doe
                    p Developer at Microsoft
                    p Seattle, WA
                    a.btn.btn-primary(href='profile.html') View Profile
                ul
                    li.text-primary
                        i.fas.fa-check
                        |  HTML
                    li.text-primary
                        i.fas.fa-check
                        |  CSS
                    li.text-primary
                        i.fas.fa-check
                        |  JavaScript
